<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Fence</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-index.css" />

  </head>
  <body>
    <header>   <!-- ----------IMAGEN DE BIENVENIDA Y SLOGAN------------- -->

      <div class="imagen-principal">
      <div class="slogan">
        <p>Especialistas en vallado para seguridad y</p> 
        <p>protección en espacios industriales y urbanos</p>
      </div>
      <div class="boton-catalogo">
        <p class="texto-boton-catalogo">Ver catálogo</p>
      </div>
    </div>

  </header>

    <main>

      <section>  <!-- ----------SECCION DE OPCIONES PARA NAVEGAR------------- -->


    <article class="home-boton-01">
      <p class="home-boton">NUESTROS PRODUCTOS</p>
      <p class="home-descripcion-boton">CONOCE NUESTRA LÍNEA COMPLETA</p>
    </article>

    <article class="home-boton-02">
      <p class="home-boton">ASEORAMIENTO</p>
      <p class="home-descripcion-boton">EN MANEJO DE VALLADO</p>
    </article>

    <article class="home-boton-03">
      <p class="home-boton">COTIZACIÓN</p>
      <p class="home-descripcion-boton">DE NUESTROS PRODUCTOS</p>
    </article>

    <article class="home-boton-04">
      <p class="home-boton">CONTACTANOS</p>
      <p class="home-descripcion-boton">FORMÁ PARTE DE NUESTRA CADENA DE VALOR</p>
    </article>

  </section>

  <section>    <!-- ----------SECCION DE PRODUCTOS DESTACADOS------------- -->


  </section>




  </main>
    
  </body>
</html>
