<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Fence</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-index.css" />

  </head>
  <body>
    <header>   <!-- ----------IMAGEN DE BIENVENIDA Y SLOGAN------------- -->

      <header class="provisorio">
        <p>acá falta el header</p>
        <img class="logotipo" src="/images/isologo-fence-black.svg" width="100px" height="80px">
          </header>

      <div class="imagen-principal">
      <div class="slogan">
        <p>Especialistas en vallado para seguridad y</p> 
        <p>protección en espacios industriales y urbanos</p>
      </div>
      <div class="boton-catalogo">
        <div class="texto-boton-catalogo">Ver catálogo</div>
      </div>
    </div>

  </header>

    <main>

      <section>  <!-- ----------SECCION DE OPCIONES PARA NAVEGAR------------- -->


    <article class="home-boton-01">
      <p class="home-boton">NUESTROS PRODUCTOS</p>
      <p class="home-descripcion-boton">CONOCE NUESTRA LÍNEA COMPLETA</p>
    </article>

    <article class="home-boton-02">
      <p class="home-boton">ASEORAMIENTO</p>
      <p class="home-descripcion-boton">EN MANEJO DE VALLADO</p>
    </article>

    <article class="home-boton-03">
      <p class="home-boton">COTIZACIÓN</p>
      <p class="home-descripcion-boton">DE NUESTROS PRODUCTOS</p>
    </article>

    <article class="home-boton-04">
      <p class="home-boton">CONTACTANOS</p>
      <p class="home-descripcion-boton">FORMÁ PARTE DE NUESTRA CADENA DE VALOR</p>
    </article>

  </section>

  <section>    <!-- ----------SECCION DE PRODUCTOS DESTACADOS------------- -->

    <div>
      <p class="titulo-product-destac">PRODUCTOS DESTACADOS</p>
    </div>
    
    <div>
      <p class="subtitulo-product-destac">CONOCE NUESTRA LÍNEA COMPLETA</p>
    </div>

      <ul class="columna" type="none">

      <li>    <!-- ----------PRODUCTO DESTACADO 1------------- -->
          <div class="imagen-product-destac-01">
        </div>
        <div class="contenedor-texto-product-destac">
          <p class="texto-product-destac">Valla Plástica Tipo 1</p>
        </div>
      </li>
    
      <li>    <!-- ----------PRODUCTO DESTACADO 2------------- -->
        <div class="imagen-product-destac-02">
        </div>
        <div class="contenedor-texto-product-destac">
          <p class="texto-product-destac">Valla Plástica Tipo 2</p>
        </div>
      </li>

      <li>    <!-- ----------PRODUCTO DESTACADO 3------------- -->
                <div class="imagen-product-destac-03">
        </div>
        <div class="contenedor-texto-product-destac">
          <p class="texto-product-destac">Valla Plástica Tipo 3</p>
        </div>
      </li>

      <li>    <!-- ----------PRODUCTO DESTACADO 4------------- -->
        <div class="imagen-product-destac-04">
        </div>
        <div class="contenedor-texto-product-destac">
          <p class="texto-product-destac">Valla Plástica Tipo 4</p>
        </div>
      </li>

    </ul>

  </section>

  </main>

  <footer class="provisoriofoot"><p>acá falta el footer</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi fugit dolorum, aperiam blanditiis magnam similique magni quidem, officia quod commodi sapiente. Ipsam cum aliquam a unde soluta nisi adipisci.</p></footer>

  </body>
</html>
