<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Fence</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-login.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

  <header class="provisorio">
    <p>acá falta el header</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quibusdam illo aperiam qui molestias quis deleniti maiores, voluptates at accusamus nisi omnis nobis ratione saepe error ducimus? Consequatur, fugit cumque!</p>
  </header>
  <main>
    <!-- login-->
    <div >
      <p class="texto-bienvenida-login">Ingrese con su email y contraseña</P>
    <div class="contenedor-login">
      <div class="contenedor-campo-login"><input class="input-login" type="email" placeholder="email" /></div>
    
      <div class="contenedor-campo-login"><input class="input-login" type="text" placeholder="contraseña" /></div>
      
      <div class="contenedor-campo-login"><div class="boton-google-login"><div class="contenido-boton-google">
        <p><i class="fab fa-google"></i> Ingrese con su cuenta de Google</p></div>
      </div></div>
    </div>
  </div>
  
 

  </main>
  <footer class="provisorio"><p>acá falta el footer</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi fugit dolorum, aperiam blanditiis magnam similique magni quidem, officia quod commodi sapiente. Ipsam cum aliquam a unde soluta nisi adipisci.</p></footer>
</body>

</html>