<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Fence</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-login.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

  <header class="cabecera">
    <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
  <ul class="menu-header">
    <li class="item-menu-header"><a href="/">Inicio</a></li>
    <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
    <li class="item-menu-header"><a href="/register">Registro</a></li>
    <li class="item-menu-header"><a href="/login">Ingresar</a></li>

     </ul></nav>
    </header>
  <main class="principal">
  <img src="/images/home-valla en ciudad-02.jpg" width=600px class="imagen-ingreso">

    <!-- login-->
  <section class="caja-formulario">
    <div class="texto-bienvenida">Si ya está registrado ingrese con su usuario y contraseña</div>
    <form action="" method="POST" class="formulario-login">
      <div class="control-formulario">
        <label for="name">Usuario</label>
        <input type="text" name="usuario"name class="control" id="name">
      </div>
      <div class="control-formulario">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="control">
      </div>
      <button type="submit" class="button">Ingresar</button>
    </form>
  </section>



  </main>
  <footer>
    <section class="informacion-container">
      <div class="about">
        <h3>Acerca de nosotros</h3>
        <img src="images/logo-fence.svg" alt="" />
        <p>
          Somos una compañía de alcance global que centra su actividad en el
          campo de la seguridad y la prevención de riesgos y cuya misión es la
          protección de personas, infraestructuras y bienes en espacios
          industriales y urbanos, seguridad vial y protección peatonal,
          seguridad para eventos.
        </p>
        <p>
          ¿Eres distribuidor de suministros industriales? Tenemos una lista de
          precios exclusiva para ti. Contactános haciendo...
        </p>
      </div>
      <div class="productos">
        <h3>Productos</h3>
        <ul>
          <li>Catálogos y descargas</li>
          <li>Vallas Plásticas</li>
          <li>Vallas Metálicas</li>
          <li>Barreras de seguridad peatonal</li>
          <li>Postes separadores delimitadores</li>
          <li>Movilidad y equipamiento urbano</li>
        </ul>
      </div>
      <div class="redes">
        <h3>Sigue conectado</h3>
        <div><i class="fab fa-twitter-square"></i>Twitter</div>
        <div><i class="fab fa-facebook-square"></i>Facebook</div>
        <div><i class="fab fa-instagram"></i>Instagram</div>
        <div><i class="fab fa-youtube"></i>Youtube</div>
        <div>
          <i class="fab fa-wordpress"></i>Blog "Protecciones industriales y
          seguridad"
        </div>
      </div>
      <div class="contacto">
        <h3>Fence S.A.</h3>
        <ul>
          <li>Calle Grupo 2. s/n ARGENTINA. CASA CENTRAL.</li>
          <li>Calle Grupo 2. s/n COLOMBIA SUCURSAL.</li>
          <li>00 12 345 67 89 99 (ARG) 00 98 765 43 21 00 (COL)</li>
        </ul>
      </div>
    </section>
    <section class="mapa-sitio-container">
      <h3>&copy;2022 FENCE S.A. Todos los derechos resevados.</h3>
      <ul class="categories-container">
        <li>Mapa del sitio</li>
        <li>Aviso Legal</li>
        <li>Política de Privacidad</li>
        <li>Política de Cookies</li>
      </ul>
    </section>
  </footer>
</body>
</body>

</html>
