<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Producto Fence</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/style-productDetail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>
  <body>
    <header></header>
    <main>
      <p class="page-index">Productos / Título de producto</p>
      <div class="product-detail-container">
        <h1>Título de producto</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo,
          deserunt.
        </p>
      </div>
      <figure>
        <img src="images/valla-ejemplo.png" alt="" />
      </figure>
      <div class="actions-container">
        <div class="share-container">
          <h3>Compartir</h3>
          <div class="icons">
            <div class="icon">
              <a target="_blank" href="https://facebook.com"
                ><i class="fab fa-facebook"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://twitter.com">
                <i class="fab fa-twitter"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://linkedin.com"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="add-to-cart-container">
          <input type="number" name="cantidad" id="cantidad-productos" />
          <button>Agregar</button>
        </div>
      </div>
      <div class="products-container">
        <h3>Productos Relacionados</h3>
        <div class="products-cards-container">
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <section class="informacion-container">
        <div class="about">
          <h3>Acerca de nosotros</h3>
          <img src="images/logo-fence.svg" alt="" />
          <p>
            Somos una compañía de alcance global que centra su actividad en el
            campo de la seguridad y la prevención de riesgos y cuya misión es la
            protección de personas, infraestructuras y bienes en espacios
            industriales y urbanos, seguridad vial y protección peatonal,
            seguridad para eventos.
          </p>
          <p>
            ¿Eres distribuidor de suministros industriales? Tenemos una lista de
            precios exclusiva para ti. Contactános haciendo...
          </p>
        </div>
        <div class="productos">
          <h3>Productos</h3>
          <ul>
            <li>Catálogos y descargas</li>
            <li>Vallas Plásticas</li>
            <li>Vallas Metálicas</li>
            <li>Barreras de seguridad peatonal</li>
            <li>Postes separadores delimitadores</li>
            <li>Movilidad y equipamiento urbano</li>
          </ul>
        </div>
        <div class="redes">
          <h3>Sigue conectado</h3>

          <div><i class="fab fa-twitter-square"></i>Twitter</div>

          <div><i class="fab fa-facebook-square"></i>Facebook</div>
          <div><i class="fab fa-instagram"></i>Instagram</div>
          <div><i class="fab fa-youtube"></i>Youtube</div>
          <div>
            <i class="fab fa-wordpress"></i>Blog "Protecciones industriales y
            seguridad"
          </div>
        </div>
        <div class="contacto">
          <h3>Fence S.A.</h3>
          <ul>
            <li>Calle Grupo 2. s/n ARGENTINA. CASA CENTRAL.</li>
            <li>Calle Grupo 2. s/n COLOMBIA SUCURSAL.</li>
            <li>00 12 345 67 89 99 (ARG) 00 98 765 43 21 00 (COL)</li>
          </ul>
        </div>
      </section>
      <section class="mapa-sitio-container">
        <h3>&copy;2022 FENCE S.A. Todos los derechos resevados.</h3>
        <ul class="categories-container">
          <li>Mapa del sitio</li>
          <li>Aviso Legal</li>
          <li>Política de Privacidad</li>
          <li>Política de Cookies</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
