<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cotizador Fence</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-quoter.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>

  <header class="provisorio">
    <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
      <ul class="menu-header">
        <li class="item-menu-header"><a href="/">Inicio</a></li>
        <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
        <li class="item-menu-header"><a href="/register">Registro</a></li>
        <li class="item-menu-header"><a href="/login">Ingresar</a></li>
         </ul></nav>

      </header>
 
  <main>
    <div class="posibles-compras">
      <div>
  <ul id="campo-nombres">
  <li></li>
  <li></li>
   <li>
   <div class="identificacion-cotizacion">
              <p> Producto </p>
            </div>
          </li>
          <li>
            <div class="identificacion-cotizacion">
              <p> Código del Producto </p>
            </div>
          </li>
          <li>
            <div class="identificacion-cotizacion">
              <p> Cantidad </p>
            </div>
          </li>

        </ul>

      </div>


      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-06.png" width="50" height="50" alt=" imagen de valla 06"> </li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
      </ul>
      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-02.png" width="50" height="50" alt=" imagen de valla 02"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>

      </ul>

      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-03.png" width="50" height="50" alt=" imagen de valla 03"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
      </ul>

      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-03.png" width="50" height="50" alt=" imagen de valla 03"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> </p>
          </div>
        </li>
      </ul>


    </div>

    <div class="imagen-de-fondo">
    <div class="enviar-presupuesto">
      <div class="formato-de-accesos">
        <button class="color-barra"> Enviar Presupuesto</button>
      </div>
    </div>
    <div>
      <h5 class="peticion-de-registro">¿No estas registrado?. Es necesario estar registrado para recibir tu cotización.
        </h5>
    </div>
    <div class="acceso-a-registro">
      <div class="formato-de-accesos">
       
        <button class="color-barra"> Registrate </button>
      
      </div>
    </div>
  </div>
  </main>

  <footer class="fondo-footer">

    <ul id="informacion-footer">
      <div class="separar-footer ">
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
      </div>
    </ul>

    <p class="copyright"> Creado por DH Capital Ventures. © Copyright 2022.</p>

  </footer>

</body>

</html>
