<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cotizador Fence</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/styles-quoter.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <div id="desorden02">
      <ul>
        <li> <img src=" ./images/logo-fence.png" width="50" height="50" alt=" Logo Fence"> </li>

        <li> HOME </li>
        <li> PRODUCTOS</li>
        <li> ASESORAMIENTO</li>
        <li> CONTACTO</li>
    </div>
    </ul>
    </div>
  </header>

  <main>
    <div class="posibles-compras">

      <div>

        <ul id="desorden">

          <li></li>
          <li></li>
          <li>
            <div class="formato05">
              <p> Producto </p>
            </div>
          </li>
          <li>
            <div class="formato05">
              <p> Código del Producto </p>
            </div>
          </li>
          <li>
            <div class="formato05">
              <p> Cantidad </p>
            </div>
          </li>

        </ul>

      </div>


      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-06.png" width="50" height="50" alt=" imagen de valla 06"> </li>
        </button>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>


      </ul>

      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-02.png" width="50" height="50" alt=" imagen de valla 02"></li>
        </button>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>

      </ul>

      <ul id="desorden">

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-03.png" width="50" height="50" alt=" imagen de valla 03"></li>
        </button>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>
        <li>
          <div class="formato02">
            <p> </p>
          </div>
        </li>


      </ul>


    </div>


    <div class="formato04">
      <div class="formato">
        <button class="color-barra"> Enviar Presupuesto</button>
      </div>
    </div>
    <div>
      <h5 class="titulo">¿No estas registrado?. Es necesario estar registrado para recibir tu cotización.
        </h6>
    </div>

    <div class="formato03">
      <div class="formato">
        <button class="color-barra"> Registrate</button>
      </div>
    </div>

  </main>

  <footer class="fondo-footer">
    <ul id="desorden-footer">
      <div class="separar-footer">
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur </p>
        </li>
    </ul>
    </div>
    <p class="copyright"> Creado por DH Capital Ventures. © Copyright 2022.</p>

  </footer>


</body>

</html>