<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Fence</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-register.css" />
  </head>
  <body>
    <header class="provisorio">
      <p>acá falta el header</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quibusdam illo aperiam qui molestias quis deleniti maiores, voluptates at accusamus nisi omnis nobis ratione saepe error ducimus? Consequatur, fugit cumque!</p>
    </header>
    <main>
    
      <div >
        <p class="texto-bienvenida-register">Ingrese sus datos para registrarse</P>
      <div class="contenedor-register">
        <div class="contenedor-campo-register"><div class="input-register"><input class="input-register" type="text" placeholder="Nombre y apellido"></div> </div>
        <div class="contenedor-campo-register"><div class="input-register"><input class="input-register" type="text" placeholder="Empresa"></div> </div>
        <div class="contenedor-campo-register">
          <div class="input-register"><input class="input-register" type="text" placeholder="CUIT/NIT"></div> </div>
        <div class="contenedor-campo-register">    <div class="input-register"><input class="input-register" type="text" placeholder="Teléfono"></div> </div>
        <div class="contenedor-campo-register">    <div class="input-register"><input class="input-register" type="text" placeholder="Email"></div></div>
        <div class="contenedor-campo-register">   <div class="input-register"><input class="input-register" type="text" placeholder="contraseña"></div> </div>
        <div class="contenedor-campo-register">   <div class="input-register"><input class="input-register" type="text" placeholder="Repetir contraseña"></div> </div>
        </div></div>
      </div>
    </div>
    
   
  
    </main>
    <footer class="provisorio"><p>acá falta el footer</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi fugit dolorum, aperiam blanditiis magnam similique magni quidem, officia quod commodi sapiente. Ipsam cum aliquam a unde soluta nisi adipisci.</p></footer>
 
    
    

 
 
 
    
  </body>
</html>
