<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Fence</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-register.css" />
  </head>
  <body>
    <header class="cabecera">
      <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
    <ul class="menu-header">
      <li class="item-menu-header"><a href="/">Inicio</a></li>
      <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
      <li class="item-menu-header"><a href="/register">Registro</a></li>
      <li class="item-menu-header"><a href="/login">Ingresar</a></li>
      
       </ul></nav>
      </header>
    <main class="principal">
    <img src="/images/home-peatones.jpg" width=600px class="imagen-ingreso">
  
      <!-- login-->
    <section class="caja-formulario">
      <div class="texto-bienvenida">Ingrese sus datos para poder utilizar nuestra plataforma</div>
      <form action="" method="POST" class="formulario-register">
        <div class="control-formulario">
          <label>Nombre y apellido</label>
          <input type="text" name="name"class="control" >
        </div>
        <div class="control-formulario">
          <label>Empresa</label>
          <input type="text" name="empresa" class="control">
        </div>
        <div class="control-formulario">
          <label>CUIT/RUT</label>
          <input type="text" name="cuit" class="control">
        </div>
        <div class="control-formulario">
          <label>Teléfono</label>
          <input type="tel" name="telefono" class="control">
        </div>
        <div class="control-formulario">
          <label>Email</label>
          <input type="email" name="email" class="control">
        </div>
        <div class="control-formulario">
          <label>Contraseña</label>
          <input type="password" name="password" class="control">
        </div>
        <div class="control-formulario">
          <label>Repita la contraseña</label>
          <input type="password" name="password" class="control">
        </div>
        <button type="submit" class="button">Ingresar</button>
      </form>
    </section>
    
   
  
    </main> 
    <footer class="provisoriofoot"><p>acá falta el footer</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi fugit dolorum, aperiam blanditiis magnam similique magni quidem, officia quod commodi sapiente. Ipsam cum aliquam a unde soluta nisi adipisci.</p></footer>
 
    
    

 
 
 
    
  </body>
</html>
