<!DOCTYPE html>
<html lang="en">
<h1>todos los productos   </h1> 
<% for(i =0; i< productos.length; i++) {%><%=JSON.stringify(productos[i])%><%}%>

<h1>El producto a editar   </h1> 
    <%=JSON.stringify(producto)%>
    </html>