<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", {tituloWeb: "Listado de productos"}) %>

  <body class="product-list">
    <%- include("./partials/header") %> 
    <main class="product-List">
        <aside class="options-container">
          <ul>
            <li><a href="/products/createProduct"> Crear producto</a></li>
            <li><a href="/products">Listado de productos</a></li>
          </ul>
        </aside>
    <main class="np-newProduct">
        <form action="/products/createProduct"   method="POST"     class="np-new-product-form" enctype="multipart/form-data" >
          <div class="np-main-features">
            <input type="text" name="nombre"placeholder="Título del producto" >
            <input type="text" name="precio" placeholder="Precio " >
            <input type="text" name="material" placeholder="Material">
            <!-- <input type="text" name="material-base" placeholder="Material Base"> -->
            <input type="text" name="tipo" placeholder="Tipo">
            <input type="text" name="descripcion" placeholder="Descripción">
          </div>
          <div class="np-add-features">
          <!-- <textarea placeholder="Agrega características adicionales"name="" id="" cols="30" rows="10"></textarea> -->
          <input type="file" name="file" id="file" class="input-file"> 
           <label for="file">Agrega una imagen</label>
           <input type="submit" value="Enviar">
          </div>
          
         

          </form>

    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
