<!DOCTYPE html>
<html lang="en">
  
 <!-- HEAD  -->

  <%- include('./partials/head', {tituloWeb: 'Producto Fence'}  ) %>

 
  <body>
   
       <!-- HEADER -->

    <%- include('./partials/header') %>
 

    <main class="product-detail">
      <p class="page-index">Productos / Título de producto</p>
      <div class="product-detail-container">
        <h1>Título de producto</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo,
          deserunt.
        </p>
        <details class="detalles-container">
          <summary>Detalles</summary>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
            ducimus a doloremque natus nihil iusto dolorum cum eum assumenda
            magnam omnis iure non, minima nostrum? Asperiores quisquam officia
            harum aperiam. Omnis debitis nisi quo sint culpa explicabo, eius
            ducimus magnam odio quia, quam repellat asperiores! Neque at culpa
            aliquid tempora quo, quae blanditiis vel natus, accusamus fugiat
            porro cumque? Quia. Cupiditate aut labore id enim, nulla illo dolor
            officia harum rerum culpa! Vel facilis, quis nemo iusto iure, omnis
            dignissimos est blanditiis necessitatibus labore temporibus culpa
            reprehenderit sapiente, sunt debitis!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
            ducimus a doloremque natus nihil iusto dolorum cum eum assumenda
            magnam omnis iure non, minima nostrum? Asperiores quisquam officia
            harum aperiam. Omnis debitis nisi quo sint culpa explicabo, eius
            ducimus magnam odio quia, quam repellat asperiores! Neque at culpa
            aliquid tempora quo,
          </p>
        </details>
        <figure>
          <img src="images/valla-ejemplo.png" alt="" />
        </figure>
      </div>

      <div class="actions-container">
        <div class="share-container">
          <h3>Compartir</h3>
          <div class="icons">
            <div class="icon">
              <a target="_blank" href="https://facebook.com"
                ><i class="fab fa-facebook"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://twitter.com">
                <i class="fab fa-twitter"></i
              ></a>
            </div>
            <div class="icon">
              <a target="_blank" href="https://linkedin.com"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="add-to-cart-container">
          <input type="number" name="cantidad" id="cantidad-productos" />
          <button>Agregar</button>
        </div>
      </div>
      <div class="products-container">
        <h3>Productos Relacionados</h3>
        <div class="products-cards-container">
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
          <div class="product">
            <img src="images/valla-ejemplo.png" alt="" class="product-image" />
            <div class="product-description">
              <h5 class="product-title">Título</h5>
              <button class="product-add-to-cart">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </main>

     <!-- FOOTER -->

    <%- include('./partials/footer') %>

  </body>
</html>
