<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->

  <%- include('./partials/head', {tituloWeb: 'Login Fence'} ) %>

  <body class="login">
    <!-- HEADER -->

    <%- include('./partials/header') %>

    <main class="principal">
      <img
        src="/images/home-valla en ciudad-02.jpg"
        width="600px"
        class="imagen-ingreso"
      />

      <!-- login-->
      <section class="caja-formulario">
        <div class="texto-bienvenida">
          Si ya est치 registrado ingrese con su usuario y contrase침a
          <% if (locals.errors && errors.email) { %>
              <div> <%= errors.email.msg %> </div>
            <% } %> 
        </div>
        <form class="formulario-login" action="/users/userList" method="POST">
<div>
          <div class="control-formulario">
            <label for="name">Correo electr칩nico</label>
            <input  type="email" 
                    name="email" 
                    class="control" 
                    id="email" />

                    
          </div>
          <span id="emailOK"></span>  
          <br>
         
          <br>

          <div class="control-formulario">
            <label for="password">Contrase침a</label>
            <input
              type="password"
              name="password"
              id="password"
              class="control"
          
          </div>
            <br>
            <!-- <div> <span id="password-error-message"></span></div>    -->
           <br>
          </div>        
         
          

          <div class="remember-container">
            <label for="recordar">Recordar usuario</label>
            <input type="checkbox" name="recordar" id="">
          </div>
          <br>
          <br>
          
          <button type="submit" class="button" id="btn-form">Ingresar</button>
        </form>
      </section>
    </main>

    <!-- FOOTER -->

    <%- include('./partials/footer') %>
  </script>
  <script src="js/login-validation.js"></script>
  </body>
</html>
