 <!-- HEAD 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Fence</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-register.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <script>
      function validar(){
      if(document.getElementById("password").value == document.getElementById("password-verify").value){
          document.getElementById("password-verify").style.backgroundColor="#e6851e"
          document.getElementById("password-error-message").innerHTML="Las contraseñas coinciden"
  }
  else{
      document.getElementById("password-verify").style.backgroundColor="#fad85b"
      document.getElementById("password-error-message").innerHTML="Las contraseñas no coinciden"
      }
  }</script>
  </head>