
<header class="cabecera">
    <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
  <ul class="menu-header">
    <li class="item-menu-header"><a href="/">Inicio</a></li>
    <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
    <li class="item-menu-header"><a href="/register">Registro</a></li>
    <li class="item-menu-header"><a href="/login">Ingresar</a></li>

     </ul></nav>
</header>