/*@import url(/public/css/main.css);
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}
*/

* {
box-sizing: border-box;
}

/* ----------------- HEADER ---------------------*/

.imagen-principal {                                    /*ok, el servidor lo aplica*/
    width: 100%;
    height: 420px;
    background-image: url("home-peatones.jpg");
    filter: sepia(80%);
    background-size: cover;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

header .imagen-principal .slogan {                    /*ok, el servidor lo aplica*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  padding: 20px;
  position: absolute;
  top: 18%;
  left: 50%;
}

.boton-catalogo {                                    /*ok, el servidor lo aplica*/
  width: 150px;
  height: 50px;
  background-color: #ff7300;
  border: solid black 3px;
  position: relative;
  bottom: -240px;
  left: 100px;
}

.texto-boton-catalogo {                                    /*ok, el servidor lo aplica*/
  color: white;
  text-align: center;
  vertical-align: middle;
}




/* ----------------- SECCION DE OPCIONES PARA NAVEGAR ---------------------*/

article.home-boton-01 {                                    /*ok, el servidor lo aplica*/
  width: 360px;
  height: 360px;
  background-image: url("home-peatones.jpg");
  filter: sepia(80%);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7%;
}

article.home-boton-02 {                                    /*ok, el servidor lo aplica*/
  width: 360px;
  height: 360px;
  background-image: url("home-peatones.jpg");
  filter: sepia(80%);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7%;
}



article.home-boton-03 {                                    /*ok, el servidor lo aplica*/
  width: 360px;
  height: 360px;
  background-image: url("home-peatones.jpg");
  filter: sepia(80%);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7%;
}  


article.home-boton-04 {                                    /*ok, el servidor lo aplica*/
  width: 360px;
  height: 360px;
  background-image: url("home-peatones.jpg");
  filter: sepia(80%);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7%;
}  


article .home-boton {                    /*ok, el servidor lo aplica*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: white;
  position: relative;
  bottom: -240px;
  text-align: center;
}

article .home-descripcion-boton {                    /*ok, el servidor lo aplica*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
  bottom: -220px;
  text-align: center;
}


/* ----------------- SECCION DE PRODUCTOS DESTACADOS ---------------------*/
