@import url(/public/css/main.css);			

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {			
 font-family: var(--primary-font);			
 background-color: var(--primary-color);		
}	

  img.logotipo{             /*ok*/
     height: 5rem;
  }

/* /* img.logotipo{ height: 5rem;
} */
  nav.elementos-header{display:flex;   /*ok*/  
align-items: center;}
 
ul.menu-header{                  /*ok*/
  font-size: 0.7rem;
list-style-type: none;
margin: 0 10px}; 


li.item-menu-header {             /*ok*/
  text-align: right;
}


.posibles-compras {      /* CUADRADO BLANCO */	
  display: flex;
  position: relative;        
  flex-direction: column;	
  flex-wrap: wrap;
  text-align: center;			
  margin: auto;
  margin-top: 60px;
  padding: 0;
  width: 100%;                               
  justify-content: space-around; 
  background-color: white;
  border-radius: 3% ;
  border-bottom: solid #fad85b 1px;
  }	



#campo-nombres {    /* CONTENEDOR DE TITULOS DE TABLA */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;			
  padding: 0;			
  margin: 0;
  border-bottom: solid var(--primary-color) 1px;
  width: auto;      
  height: auto;    
  position: relative;
  /*border: solid green 3px;*/
}

#campo-nombres li {   /* CONTENEDOR DE CADA UNA DE LAS PALABRAS DE TITULOS DE TABLA */			
/*display: flex;*/
position: relative;
font-size: small;		
color: var(--black);			 				
vertical-align: middle;
justify-content: center;
/*margin: 20px ;*/
/*font-weight: bold;*/
text-align: center; 			
/*border: solid red 3px;*/
}

.titulo-container-x{     /* CADA UNA DE LAS PALABRAS DE TITULOS DE TABLA */
  display: flex;
  width: 30px;
  height: auto;
}

.titulo-imagen-producto{
  display: none;
  width: 80px;
  height: auto;
}
   
.titulo-identificacion-producto{
  display: flex;
  width: 120px ;
}
          
.titulo-codigo-producto{
  display: none;
  width: 80px ;
}
          
.titulo-cantidad-producto{
  display: flex;
}


#desorden {    /* CONTENEDOR DE CADA UNO DE LOS PRODUCTOS, ES CADA UNO DE LOS UL */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;			
  list-style: none;			
  padding: 0;			
  margin: 0;
  border-bottom: solid var(--primary-color) 1px;
  width: auto;
  height: auto;
  position: relative;
  }



/* ----------------- ELEMENTOS DE CADA PRODUCTO, ES CADA LI DE CADA UL -----------------------*/

.contenedor button.x{
  display: flex;			
  color: gray;
  width: 10px;
  height: auto;			
  text-align: center;			
  font-weight: bold;			
  text-transform: uppercase;			
  outline: solid gray 1px;			
  box-sizing: border-box;			
  background-color: transparent;			
  }	
 
  .imagenes-cotizadas{
  display: none;
  width: auto;
  height: auto;
  margin-bottom: 10px;			
  margin-top: 10px;			
  }

  .datos-identificacion-cotizacion{			
    display: flex;
    width: 130px ;			
    height: 100px;
    justify-content: center;
    align-items: center;
    empty-cells:show;			
    border: none;	
    background-color: transparent;
    font-size: 10px;	
     }

  .codigo-producto{
    display: none;
    width: 80px ;			
    height: 20px;			
    empty-cells: show;			
    border: solid gray 1px;	
    background-color: transparent;
    font-size: small;
      }

#cantid-prod-cotizador{
  display: flex;
  border: solid grey 1px;
  width: 40px;
}


/* ------------------- BOTON ACTUALIZAR -------------------*/

main .button-actualizar{
  display: flex;		
  border: gray solid 0.5px;
  border-radius: 10px;
  cursor: pointer;	
  padding: 15px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  }	

  main .button-actualizar a{
    color: var(--secondary-color);
    text-decoration: none;
  }

/* ------------------- IMAGEN DE FONDO Y BOTONES -------------------*/

  .imagen-de-fondo{
    background-image: none ;
    padding: 0px;
    margin-top: 100px;
    }


button {			
position: relative;			
padding: 10px; 			
border: none;			
outline: none;			
background-color: transparent;			
color: none;			
cursor: pointer;			
transition: 0.8s;			
text-transform: uppercase;			
letter-spacing: 2px ;			
box-sizing: border-box;		
}			

.formato-de-accesos{			
 color: var(--white);			
 text-align: center			
 }			
			
.peticion-de-registro {	
 display: flex;		
 text-align: center	;
 justify-content: center;
 color: var(--white);
}			
/*.......................ANIMACION....................
h5.peticion-de-registro  {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}*/
/*
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
.formato-de-accesos button.color-barra{			
color: var(--white);			
text-align: center;			
font-weight: bold;			
text-transform: lowercase;			
outline: solid black ;	
background-color: var(--secondary-color);
padding: auto;
width: 30%;	
box-sizing: border-box;
min-width: 150px;

}

.formato-de-accesos button.color-barra a{
text-decoration: none;
color: var(--white);
		
}

button.color-barra:hover{
   
    background-color: var(--black)
}	

  
.acceso-a-registro{			
margin-bottom: 170px;
margin-top: 70px;	
} 		
.enviar-presupuesto{	
		
margin-bottom:70px;
margin-top: 50px;

 } 	
 .enviar-presupuesto ::first-letter{
    text-transform: uppercase;  
  }
  .acceso-a-registro ::first-letter{
    text-transform: uppercase;  
  }



/* ------------------- FOOTER ---------------------*/

.fondo-footer{
background-color: var(--black);
padding: 20px;
color: var(--white);
/*margin-bottom: 0px;*/
margin: auto;
/*justify-content: end;*/
height: auto;

}

#informacion-footer li{   			
display: flex;
    	
}
footer #informacion-footer li {
display: inline-block;	
width: 100px; 			
padding: 5px;		
/*vertical-align:middle;*/			
align-items:flex-end; 	 /* */
box-sizing: border-box;			
   }
   
.separar-footer{

display: none
}			

.copyright {
font-weight: bold;
text-align: center;
margin-top: 60px;
   }


/* --------------------- MEDIA QUERIES -------------------*/

@media (min-width:480px){

  nav.elementos-header  {
    justify-content: space-between;
}

ul.menu-header{ 
  border: none;}

  .posibles-compras {      /* CUADRADO BLANCO */	
    width: 65%;                               
    }

    .titulo-imagen-producto{
      display: block;
    }

  .imagenes-cotizadas{
    display: block;

      		
      }
    


}             

@media (min-width:768px){

  .posibles-compras {      /* CUADRADO BLANCO */	
    width: 55%;                               
    }


/* ------------- CADA UNA DE LAS PALABRAS DE TITULOS DE TABLA ---------------- */

  .titulo-container-x{     
    display: flex;
    width: 30px;
    height: auto;
  }
  
  .titulo-imagen-producto{
    display: flex;
    width: 80px;
    height: auto;
  }
     
  .titulo-identificacion-producto{
    display: flex;
    width: 120px ;
    height: auto;
    text-align: center;
    justify-content: center;
  }
            
  .titulo-codigo-producto{
    display: flex;
    width: 80px ;
  }
            
  .titulo-cantidad-producto{
    display: flex;
  }



  /* ----------------- ELEMENTOS DE CADA PRODUCTO, ES CADA LI DE CADA UL -----------------------*/

  .contenedor button.x{
  display: flex;			
  color: gray;
  width: auto;
  height: auto;			
  text-align: center;			
  font-weight: bold;			
  text-transform: uppercase;			
  outline: solid gray 1px;			
  box-sizing: border-box;			
  background-color: transparent;			
  }	
 
  .imagenes-cotizadas{
  display: flex;
  width: auto;
  height: auto;
   margin-bottom: 20px;			
   margin-top: 20px;			
  }

  .datos-identificacion-cotizacion{			
    display: flex;
    width: 120px ;			
    height: 50px;
    justify-content: center;
    align-items: center;
    empty-cells:show;				
    background-color: transparent	
     }

  .codigo-producto{
    display: flex;
    width: 80px ;			
    height: 20px;			
    empty-cells:show;			
    border: solid gray 1px;	
    background-color: transparent	
      }

#cantid-prod-cotizador{
  display: flex;
  border: solid grey 1px;
  width: 50px;
}



.imagen-de-fondo{
background-image: url("/images/valla-en-ciudad-05.jpeg")  ;
padding: 50px;
background-repeat: no-repeat; /**/
background-position: center;  /**/
background-size: cover;  /**/
}
        
.separar-footer{
display: flex;
flex-direction: row;
justify-content: space-around;
}			


}

