@import url(/public/css/main.css);
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}
.input-login {
  color: var(--secondary-color);
  padding: 10px;
}
/* 
  .input-register {color: var(--grey);
      padding: 10px;
  } */
