@import url(main.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/*header {
  height: 100px;
  width: 100vw;
  background-color: var(--primary-color);
}*/
.cabecera {
  background-color: var(--secondary-color);
  color: var(--white);
  margin: 10px 0;
}
li.item-menu-header a {
  text-decoration: none;
  transition: all 450ms;
}
li.item-menu-header a:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
li.item-menu-header a:visited {
  color: var(--white);
}
img.logotipo {
  height: 5rem;
}
nav.elementos-header {
  display: flex;
  align-items: center;
}
/* .elementos-header img{height: 30%;} */
ul.menu-header {
  font-size: 0.7rem;
  list-style-type: none;
  margin: 0 10px;
}
li.item-menu-header {
  text-align: right;
}
main {
  background-color: var(--grey);
  padding: 8px;
  display: flex;
  flex-direction: column;
}
main .page-index {
  font-size: 12px;
  padding-top: 12px;
}
main .product-detail-container {
  width: 100%;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  gap: 12px;
}

main .product-detail-container .detalles-container {
  display: none;
}
main figure {
  padding-top: 20px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin: 24px 0;
  border-radius: 12px;
  max-width: 420px;
  align-self: center;
}
main figure img {
  height: 80%;
}
main .actions-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.share-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.share-container h3 {
  align-self: center;
}
.share-container .icons {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}
.icons .icon {
  font-size: 32px;
  color: var(--black);
}
.icon a {
  color: inherit;
  transition: color 1000ms;
}
.icon a:hover {
  color: rgba(117, 117, 117, 0.938);
}
.add-to-cart-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  justify-content: space-evenly;
}
#cantidad-productos {
  border: none;
  width: 35%;
  height: 40px;
}
#cantidad-productos:focus {
  outline: none;
}
.add-to-cart-container button {
  width: 80%;
  border: none;
  height: 45px;
  border-radius: 8px;
  background-color: var(--primary-color);
  transition: background-color 1000ms;
}

.products-container .products-cards-container {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
}
.products-cards-container .product {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 400px;
  transition: box-shadow 1000ms;
}
.products-cards-container .product:hover {
  box-shadow: 0px 0px 20px 8px #525151;
}
.product h5 {
  font-size: 24px;
}
.product-description {
  display: flex;
  height: 20%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;
}
.product-add-to-cart {
  width: 32%;
  border: none;
  height: 40px;
  border-radius: 8px;
  padding: 5px;
  background-color: var(--primary-color);
  transition: background-color 1000ms;
}
.product-add-to-cart:hover,
.add-to-cart-container button:hover {
  background-color: var(--secondary-color);
}
footer {
  width: 100vw;
  background-color: var(--black);
}
.informacion-container {
  display: none;
}
.mapa-sitio-container {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  gap: 12px;
}
.mapa-sitio-container h3 {
  text-align: center;
}
.mapa-sitio-container .categories-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.mapa-sitio-container .categories-container li {
  text-align: center;
  margin: 10px 0;
  transition-property: border-bottom;
  transition-duration: 5000ms;
}
.mapa-sitio-container .categories-container li:hover {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 480px) {
  .products-cards-container .product {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  main .product-detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    padding-top: 12px;
    gap: 12px;
  }
  main .product-detail-container p {
    grid-area: 2 / 1 / 2 / 2;
  }
  main .product-detail-container .detalles-container {
    display: inline-block;
    grid-area: 2 / 3 / 3 / 1;
    align-self: flex-start;
    width: 50%;
    margin-top: 40px;
  }
  main figure {
    max-width: 420px;
    margin-right: 15%;
    grid-area: 2 / 2 / 3 / 2;
    justify-self: center;
    align-self: center;
  }
  main .actions-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 20%;
    gap: 24px;
  }

  .products-cards-container .product {
    width: 22%;
    margin-bottom: 24px;
  }
  .informacion-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 24px;
    color: var(--white);
    justify-items: center;
  }
  .informacion-container div h3 {
    margin-bottom: 12px;
  }
  .informacion-container .about img {
    width: 120px;
    height: 120px;
    background: white;
  }
  .informacion-container .redes div > i {
    margin-right: 12px;
  }
  .mapa-sitio-container {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 12px;
  }
  .mapa-sitio-container h3 {
    text-align: center;
  }
  .mapa-sitio-container .categories-container {
    display: flex;
    flex-direction: row;
  }
  .mapa-sitio-container .categories-container li {
    text-align: center;
    margin: 10px 0;
    list-style: none;
  }
}
