<!DOCTYPE html>
<html lang="en">
 
<!-- HEAD  --> 

<%- include('./partials/head',{tituloWeb: 'Home Fence' } ) %>

<body>
    <h1 class="errorNotFound"> ERROR 404: ALGO HA SALIDO MAL</h1>
    <img  src="../images/404-not-found.png" class="imagenDeError" alt=" error 404">
</body>
</html>