<!DOCTYPE html>
<html lang="en">
 
<!-- HEAD  --> 

<%- include('./partials/head',{tituloWeb: 'Home Fence' } ) %>

<body class="error-view">

    <div class="error-image">
        <div class="message-container">
    <h1 class="message-text"> ERROR 404: ALGO HA SALIDO MAL</h1>
</div>
</div>

</body>
</html>