
<header class="cabecera">
    <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
  <ul class="menu-header">
    <% if(locals.userLogged && userLogged.nombre) { %>
      <li class="item-menu-header">Usuario: <%= userLogged.nombre  %> <%= userLogged.apellido  %> </li>
      <% } %>  
    <li class="item-menu-header"><a href="/">Inicio</a></li>
    <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
    <% if(!locals.userLogged) {%> 
    <li class="item-menu-header"><a href="/register">Registro</a></li>
    <li class="item-menu-header"><a href="/login">Ingresar</a></li>
      <% } else {%> 
          <form action="/users/logout" method="GET">
        <button type="submit" class="log-out-btn">Logout</button> 
         </form> 
        <% } %> 
     </ul></nav>
</header>