
 <footer>
    <section class="informacion-container">
      <div class="about">
        <h5>Acerca de nosotros</h5>
        <!-- <img src="images/logo-fence.svg" alt="" /> -->
        <p>
          Somos una compañía de alcance global que centra su actividad en el
          campo de la seguridad y la prevención de riesgos y cuya misión es la
          protección de personas, infraestructuras y bienes en espacios
          industriales y urbanos, seguridad vial y protección peatonal,
          seguridad para eventos.
        </p>
        <!-- <p>
          ¿Eres distribuidor de suministros industriales? Tenemos una lista de
          precios exclusiva para ti. Contactános haciendo...
        </p> -->
      </div>
      <div class="productos">
        <h5>Productos</h5>
        <ul>
          <li>Catálogos y descargas</li>
          <li>Vallas Plásticas</li>
          <li>Vallas Metálicas</li>
          <li>Barreras de seguridad peatonal</li>
          <li>Postes separadores delimitadores</li>
          <li>Movilidad y equipamiento urbano</li>
        </ul>
      </div>
      <div class="redes">
        <h5>Sigue conectado</h5>
        <div><i class="fab fa-twitter-square"></i>Twitter</div>
        <div><i class="fab fa-facebook-square"></i>Facebook</div>
        <div><i class="fab fa-instagram"></i>Instagram</div>
        <div><i class="fab fa-youtube"></i>Youtube</div>
        <div>
          <i class="fab fa-wordpress"></i>Blog "Protecciones industriales y
          seguridad"
        </div>
      </div>
      <div class="contacto">
        <h5>Fence S.A.</h5>
        <ul>
          <li>Calle Grupo 2. s/n ARGENTINA. CASA CENTRAL.</li>
          <li>Calle Grupo 2. s/n COLOMBIA SUCURSAL.</li>
          <li>00 12 345 67 89 99 (ARG) 00 98 765 43 21 00 (COL)</li>
        </ul>
      </div>
    </section>
    <section class="mapa-sitio-container">
      <h3>&copy;2022 FENCE S.A. Todos los derechos reservados.</h3>
      <ul class="categories-container">
        <li>Mapa del sitio</li>
        <li>Aviso Legal</li>
        <li>Política de Privacidad</li>
        <li>Política de Cookies</li>
      </ul>
    </section>
  </footer>