<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Fence</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>
  <body>

      <!-- ----------IMAGEN DE BIENVENIDA Y SLOGAN------------- -->

      <header class="cabecera">
        <nav class="elementos-header"><img class="logotipo" src="/images/logo-fence-white.svg">
      <ul class="menu-header">
        <li class="item-menu-header"><a href="/">Inicio</a></li>
        <li class="item-menu-header"><a href="/quoter">Cotizaciones</a></li>
        <li class="item-menu-header"><a href="/register">Registro</a></li>
        <li class="item-menu-header"><a href="/login">Ingresar</a></li>
    
         </ul></nav>
        </header>

      <div class="imagen-principal">
        <div class="slogan">
          <p>Especialistas en vallado para seguridad y</p>
          <p>protección en espacios industriales y urbanos</p>
        </div>
        <div class="boton-catalogo">
          <div class="texto-boton-catalogo">
            <a href="/productDetail">Ver catálogo</a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container-botones-navegacion">
        <!-- ----------SECCION DE OPCIONES PARA NAVEGAR------------- -->

        <article class="home-boton-01">
          <p class="home-boton">
            <a href="/productDetail">NUESTROS PRODUCTOS</a>
          </p>
          <p class="home-descripcion-boton">
            <a href="/productDetail">CONOCE NUESTRA LÍNEA COMPLETA</a>
          </p>
        </article>

        <article class="home-boton-03">
          <p class="home-boton"><a href="/quoter">COTIZACIÓN</a></p>
          <p class="home-descripcion-boton">
            <a href="/quoter">DE NUESTROS PRODUCTOS</a>
          </p>
        </article>

        <article class="home-boton-04">
          <p class="home-boton"><a href="/register">REGISTRATE</a></p>
          <p class="home-descripcion-boton">
            <a href="/register">FORMÁ PARTE DE NUESTRA CADENA DE VALOR</a>
          </p>
        </article>
      </section>

      <section>
        <!-- ----------SECCION DE PRODUCTOS DESTACADOS------------- -->

        <div>
          <p class="titulo-product-destac">PRODUCTOS DESTACADOS</p>
        </div>

        <div>
          <p class="subtitulo-product-destac">CONOCE NUESTRA LÍNEA COMPLETA</p>
        </div>

        <ul class="columna" type="none">
          <li>
            <!-- ----------PRODUCTO DESTACADO 1------------- -->
            <div class="imagen-product-destac-01"></div>
            <div class="contenedor-texto-product-destac">
              <p class="texto-product-destac">
                <a href="/productDetail">Valla Plástica Tipo 1</a>
              </p>
            </div>
          </li>

          <li>
            <!-- ----------PRODUCTO DESTACADO 2------------- -->
            <div class="imagen-product-destac-02"></div>
            <div class="contenedor-texto-product-destac">
              <p class="texto-product-destac">
                <a href="/productDetail">Valla Plástica Tipo 2</a>
              </p>
            </div>
          </li>

          <li>
            <!-- ----------PRODUCTO DESTACADO 3------------- -->
            <div class="imagen-product-destac-03"></div>
            <div class="contenedor-texto-product-destac">
              <p class="texto-product-destac">
                <a href="/productDetail">Valla Plástica Tipo 3</a>
              </p>
            </div>
          </li>

          <li>
            <!-- ----------PRODUCTO DESTACADO 4------------- -->
            <div class="imagen-product-destac-04"></div>
            <div class="contenedor-texto-product-destac">
              <p class="texto-product-destac">
                <a href="/productDetail">Valla Plástica Tipo 4</a>
              </p>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <section class="informacion-container">
        <div class="about">
          <h3>Acerca de nosotros</h3>
          <!-- <img src="images/logo-fence.svg" alt="" /> -->
          <p>
            Somos una compañía de alcance global que centra su actividad en el
            campo de la seguridad y la prevención de riesgos y cuya misión es la
            protección de personas, infraestructuras y bienes en espacios
            industriales y urbanos, seguridad vial y protección peatonal,
            seguridad para eventos.
          </p>
          <!-- <p>
            ¿Eres distribuidor de suministros industriales? Tenemos una lista de
            precios exclusiva para ti. Contactános haciendo...
          </p> -->
        </div>
        <div class="productos">
          <h3>Productos</h3>
          <ul>
            <li>Catálogos y descargas</li>
            <li>Vallas Plásticas</li>
            <li>Vallas Metálicas</li>
            <li>Barreras de seguridad peatonal</li>
            <li>Postes separadores delimitadores</li>
            <li>Movilidad y equipamiento urbano</li>
          </ul>
        </div>
        <div class="redes">
          <h3>Sigue conectado</h3>
          <div><i class="fab fa-twitter-square"></i>Twitter</div>
          <div><i class="fab fa-facebook-square"></i>Facebook</div>
          <div><i class="fab fa-instagram"></i>Instagram</div>
          <div><i class="fab fa-youtube"></i>Youtube</div>
          <div>
            <i class="fab fa-wordpress"></i>Blog "Protecciones industriales y
            seguridad"
          </div>
        </div>
        <div class="contacto">
          <h3>Fence S.A.</h3>
          <ul>
            <li>Calle Grupo 2. s/n ARGENTINA. CASA CENTRAL.</li>
            <li>Calle Grupo 2. s/n COLOMBIA SUCURSAL.</li>
            <li>00 12 345 67 89 99 (ARG) 00 98 765 43 21 00 (COL)</li>
          </ul>
        </div>
      </section>
      <section class="mapa-sitio-container">
        <h3>&copy;2022 FENCE S.A. Todos los derechos resevados.</h3>
        <ul class="categories-container">
          <li>Mapa del sitio</li>
          <li>Aviso Legal</li>
          <li>Política de Privacidad</li>
          <li>Política de Cookies</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
