<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", {tituloWeb: "Listado de productos"}) %>

  <body class="product-list">
    <%- include("./partials/header") %>

    <main class="product-List">
      <aside class="options-container">
        <ul>
          <li><a href="/newProduct"> Crear producto</a></li>
          <li><a href="/productList">Listado de productos</a></li>
        </ul>
      </aside>
      <div class="pl-productos-container">
        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart"
              >Modificar</a
            >
          </div>
        </article>

        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart"
              >Modificar</a
            >
          </div>
        </article>

        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart"
              >Modificar</a
            >
          </div>
        </article>
        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart"
              >Modificar</a
            >
          </div>
        </article>

        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart"
              >Modificar</a
            >
          </div>
        </article>

        <article class="pl-product">
          <img src="images/valla-ejemplo.png" alt="" class="pl-product-image" />
          <div class="pl-product-description">
            <h5 class="pl-product-title">Título</h5>
            <a href="/changeProduct" class="pl-product-add-to-cart">
              Modificar
            </a>
          </div>
        </article>
      </div>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
