<!DOCTYPE html>
<html lang="en">

  <!-- HEAD 

  <%- include('./partials/head',{tituloWeb: 'Cotizador Fence'}  ) %>
-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Cotizador Fence</title>
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
   <link rel="stylesheet" href="/css/main.css" />
   <link rel="stylesheet" href="/css/styles.css" />
   <link rel="stylesheet" href="/css/styles-quoter.css" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>
  
<body>

   <!-- HEADER -->

  <%- include('./partials/header') %>
 
  <main>
    <div class="posibles-compras">    <!-- TODO EL CUADRO BLANCO -->
      
  <ul id="campo-nombres">               <!-- TITULOS DE LA TABLA -->

    <li class="titulo-container-x"></li>

    <li class="titulo-imagen-producto"></li>
   
    <li><div class="titulo-identificacion-producto"><p> Producto </p></div></li>
          
    <li><div class="titulo-codigo-producto"><p> Código del Producto </p></div></li>
          
    <li><div class="titulo-cantidad-producto"><p> Cantidad </p></div></li>

    </ul>


      <ul id="desorden">      <!-- PRIMER PRODUCTO -->

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-06.png" width="80" height="80" alt=" imagen de valla 06"> </li>
        </button>
        
        <li>
          <div class="datos-identificacion-cotizacion">
            <p>Valla Plastica Vial Light 1.8m Encastrable Cian Original  </p>
          </div>
        </li>
      
        <li>
          <div class="codigo-producto">
            <p>   </p>
          </div>
        </li>
        
        <li>
          <div >
            <p><input type="number" name="cantidad" id="cantid-prod-cotizador">  </p>
          </div>
        </li>
      </ul>

      <ul id="desorden">    <!-- SEGUNDO PRODUCTO -->

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-02.png" width="80" height="80" alt=" imagen de valla 02"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p> Separador / Canalizador Vial New Jersey </p>
          </div>
        </li>
        <li>
          <div class="codigo-producto">
            <p> </p>
          </div>
        </li>
        <li>
          <div >
            <p><input type="number" name="cantidad" id="cantid-prod-cotizador"> </p>
          </div>
        </li>

      </ul>

      <ul id="desorden">    <!-- TERCER PRODUCTO -->

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-03.png" width="80" height="80" alt=" imagen de valla 03"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p>Valla Vial 1900x1100mm Poliprop. P/seguridad Vialplast </p>
          </div>
        </li>
        <li>
          <div class="codigo-producto">
            <p>   </p>
          </div>
        </li>
        <li>
          <div>
            <p><input type="number" name="cantidad" id="cantid-prod-cotizador" > </p>
          </div>
        </li>
      </ul>

      <ul id="desorden">      <!-- CUARTO PRODUCTO -->

        <li class="contenedor"><button class="x"><i class="fas fa-times"></i></button></li>
        <button class="imagenes-cotizadas">
          <li><img src=" ./images/valla-03.png" width="80" height="80" alt=" imagen de valla 03"></li>
        </button>
        <li>
          <div class="datos-identificacion-cotizacion">
            <p>Valla Vial 1900x1100mm Poliprop. P/seguridad Vialplast </p>
          </div>
        </li>
        <li>
          <div class="codigo-producto">
            <p>  </p>
          </div>
        </li>
        <li>
          <div >
            <p > <input type="number" name="cantidad" id="cantid-prod-cotizador"> </p>
          </div>
        </li>
      </ul>


    </div>

<!-- BOTON ACTUALIZAR -->

    <button class="button-actualizar"><a href="#">  Actualizar Lista</a>  </button>
   
   
<!-- IMAGEN DE FONDO -->

    <div class="imagen-de-fondo">
    
<!-- BOTONES -->
    
      <div class="enviar-presupuesto">
      <div class="formato-de-accesos">
        <button class="color-barra"> Enviar Presupuesto</button>
      </div>
    </div>
    <div>
      <h5 class="peticion-de-registro">¿No estas registrado?. Es necesario estar registrado para recibir tu cotización.
        </h5>
    </div>
    <div class="acceso-a-registro">
      <div class="formato-de-accesos">
       
        <button class="color-barra"> <a href="/register">Registrate</a></button>
      
      </div>
    </div>
  </div>
  </main>

 <!-- FOOTER -->

  <%- include('./partials/footer') %>
  
</body>

</html>
